*{
  font-family: Helvetica;
}
body{
  margin:0;
}
/**Cabecera**/
#banner {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }
 #titulo{
    position:absolute;
    top:160px;
    left: 30%;
    transform: translateX(-50%);
    text-shadow: 0 0 20px #000000;
    color:azure;
    font-family: Helvetica;
  }

  /*Cabecera navbar*/
  .contenedorHeader nav {
    position: absolute;

    /*Centra el logo y el nav*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  .contenedorHeader nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
    .contenedorHeader #logo { 
    width:100px;
    margin:10px;
    text-align: center;
    width:100px;
    height:101px;
  }
  .contenedorHeader nav li {
    display: inline-block;
  }
  .contenedorHeader nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 

/*Texto sobre nosotros*/
  #textoSobreNosotros{
    position:relative;
    top: 10px;
    width:80%;
    left: 50%;
    transform:translateX(-50%);
  }

/*galeria de imagenes*/
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }
  .gallery img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    object-fit: cover;
  }

/*video*/
  .contenedorVideo{
    position: relative;
    width:640px;
    left:50%;
    transform:translateX(-50%);
  }

/*iFrame*/
  .contenedorIframe{
    position: relative;
    width:640px;
    left:50%;
    transform:translateX(-50%);
  }

  /*Footer*/
    /*Contenedor*/
    footer{
      position:relative;
      top:20px;
      width: auto;
      height: 200px;
      background-color: aqua;
    }
  /*Navbar inferior*/
    .contenedorFooter nav {
      top: 20px;
      width: 100%;
      position: absolute;
      background-color: rgba(255, 200, 0, 0.4);
      overflow: hidden;
    }
    .contenedorFooter nav ul {
      text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    .contenedorFooter nav li {
      display: inline-block;
    }
    .contenedorFooter nav a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /*Firma*/
    .contenedorFooter #firma {
      position:absolute;
      left:50%;
      bottom:20px;
      width: 200px;
      transform: translateX(-50%);
    }
    